* {
    margin: 0;
 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #6B4343;
}


ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    font-size: 23px;
    text-decoration: none;
    color: red;
}

footer {
    background-color:#6B4343;
    padding: 20px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-top: 20px;
    }

    ul li {
        display: block;
        margin-bottom: 10px;
    }
    .card-img-top{
        width: 90%;
      }

      .simbologia{
        display: flex;
        text-align: center;
        margin: 15px;
      }
}
.info{
    background-color: whitesmoke
}
.info2 h2{
padding: 10px;
margin: 0;
}
.info2 p{
padding: 3px;
margin: 10px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

