

* {
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #6B4343;

}
h1{
    color: rgb(220, 219, 219);
    font-size: 44px;
   

}
ul li{
    display: inline-block;
    padding: 0px 20px;
 
}
a{
    font-size: 23px;
    text-decoration: none;
    color: rgb(220, 219, 219);
}